
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.website-banner{
    background-color: rosybrown;
    padding-top: 10px;
    padding-bottom: 10px;
}

.website-banner-title {
    text-align: center;
    font-size: 60;
}

.topbar {
    background-color:rgb(155, 69, 69);
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.collapsible {

    background-color: rgb(144, 55, 55);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 1cm
}

.right-aligned-plus {
    float: right;
    margin-right: 10px;
}


.active-page, .collapsible:hover {

    color: red;

}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #bfa1a1;
  }