
:root {
    --main-background-color: #161925;
    --main-text-color: #EBE9E9;
    --accent1: #73937E;
    --accent2: #BC69AA;
    --accent3: #0BF0F4;
    --hyperlink_unvisited: #6D00C7
}


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

body a:link {
    color: var(--accent3);
}

body a:visited {
    color: var(--accent1);
}


.website-banner{
    background-color: var(--accent2);
    padding-top: 10px;
    padding-bottom: 10px;
}

.website-banner-title {
    text-align: center;
    font-size: 60;
}

.topbar { 
    background-color: var(--accent2);
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.topbar a:any-link {
    color: var(--main-text-color);
    text-decoration: none;
}

.topbar .active-page:any-link, .collapsible:hover {
    color: var(--accent3);
}




.block, .block-header {
    
    margin: auto;
    width: 80%;
    background-color: var(--main-text-color);
    color: var(--main-background-color);
    text-align: center;
    border: 5px solid var(--accent1);
}

.block {
    padding-block: 5%;
}

.block-header{
    background-color: var(--accent1);
    margin-top: 1%;
}

.collapsible {

    background-color: var(--accent2);
    text-align: center;
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 1cm
}

.right-aligned-plus {
    float: right;
    margin-right: 10px;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: var(--main-background-color);
    background-color: var(--main-text-color);
  }

.collapsible-content a:link {
    color: var(--hyperlink_unvisited);
}

.headshot {
    width: 400;
    height: 400;
}